 /* .feedBack{
    background-color: #121212;
    color: #34C94B;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 170%;
    width:auto;
    letter-spacing: 0.25px;    
    border-width: 1px;
    border-radius: 12px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    cursor: pointer;
}  */

.feedBack {
    background-color: #121212;
    color: #34C94B;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    width: auto;
    letter-spacing: 0.25px;
    border: 1px solid #34C94B;
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
}


.feedBack:hover{
    cursor: pointer;
}